@model IEnumerable<WebApplication4.Models.ContactInfo>

<script>
    $(document).ready(function () {
        var j = jQuery.noConflict();
        j("#AddtableData").click(function (e) {
            $('#ContactInfo').append("<tr><td hidden=\"hidden\"><input id=\"item_Id\" name=\"item.Id\" type=\"hidden\" value=\"\"></td><td hidden=\"hidden\"><input id=\"item_ContactListId\" name=\"item.ContactListId\" type=\"hidden\" value=\"\"></td><td><div class=\"form-group\"><div class=\"col-md-10\"><input class=\"form-control text-box single-line\" id=\"item_Phone\" name=\"item.Phone\" type=\"tel\" value=\"\"><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"item.Phone\" data-valmsg-replace=\"true\"></span></div></div></td><td><div class=\"form-group\"><div class=\"col-md-10\"><input class=\"form-control text-box single-line\" id=\"item_Email\" name=\"item.Email\" type=\"email\" value=\"\"><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"item.Email\" data-valmsg-replace=\"true\"></span></div></div></td><td><div class=\"form-group\"><div class=\"col-md-10\"><input class=\"form-control text-box single-line\" id=\"item_Skype\" name=\"item.Skype\" type=\"text\" value=\"\"><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"item.Skype\" data-valmsg-replace=\"true\"></span></div></div></td><td><div class=\"form-group\"><div class=\"col-md-10\"><input class=\"form-control text-box single-line\" id=\"item_Other\" name=\"item.Other\" type=\"text\" value=\"\"><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"item.Other\" data-valmsg-replace=\"true\"></span></div></div></td></tr>");
            $('input').on('input', function (e) {
                $("input[name='JsonFile']").val(html2json());
            });
            $('#item.Phone').mask("+7(999)999-99-99");
        });
        $("input[name='JsonFile']").val(html2json());
        $('input').on('input', function (e) {
            $("input[name='JsonFile']").val(html2json());

        });
        $('#item.Phone').mask("+7(999)999-99-99");
    });

    function html2json() {
        var json = '[';
        var otArr = [];
        var tbl2 = $('#ContactInfo tbody tr').each(function (i) {
            x = $(this).children();
            var itArr = [];
            x.each(function () {
                itArr.push('"' + $(this).find('input').attr("name") + '":"' + $(this).find('input').val() + '"');
            });
            otArr.push('{' + itArr.join(',') + '}');
        })
        json += otArr.join(",") + ']'

        return json;

        /*$("#myForm").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                name: {
                    required: true,
                    minlength: 5
                }
            }
        });*/
    }

</script>

<h4>Контактная информация</h4>
<table class="table" id="ContactInfo" name="ContactInfo">
    <thead>
        <tr>
            <th hidden="hidden">@Html.DisplayNameFor(i => i.FirstOrDefault().Id)</th>
            <th hidden="hidden">@Html.DisplayNameFor(i => i.FirstOrDefault().ContactListId)</th>
            <th>
                <div>
                    <div class="col-md-10">@Html.DisplayNameFor(i => i.FirstOrDefault().Phone)</div>
                </div>
            </th>
            <th>
                <div>
                    <div class="col-md-10">@Html.DisplayNameFor(i => i.FirstOrDefault().Email)</div>
                </div>
            </th>
            <th>
                <div>
                    <div class="col-md-10">@Html.DisplayNameFor(i => i.FirstOrDefault().Skype)</div>
                </div>
            </th>
            <th>
                <div>
                    <div class="col-md-10">@Html.DisplayNameFor(i => i.FirstOrDefault().Other)</div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td hidden="hidden">@Html.HiddenFor(model => item.Id)</td>
                <td hidden="hidden">@Html.HiddenFor(model => item.ContactListId)</td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Skype, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Skype, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Other, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Other, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    </tbody>

</table>
    <input id="JsonFile" name="JsonFile" type="text" hidden="hidden"/>

<input id="AddtableData" value="Добавить контактную информацию" type="button" class="ui-button ui-widget ui-state-default ui - corner - all ui - button - text - only" />