@model WebApplication4.Models.ContactList

@{
    ViewBag.Title = "Информация";
}

<h2>Подробная информация</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>Контактная информация</dt>
        @foreach (var item in Model.ContactInfoes)
        {
            if (!string.IsNullOrWhiteSpace(item.Phone))
            {
                <dd>
                    @Html.DisplayNameFor(x => item.Phone)
                    @Html.DisplayFor(modelItem => item.Phone)
                </dd>
            }

        }
        @foreach (var item in Model.ContactInfoes)
        {
            if (!string.IsNullOrWhiteSpace(item.Email))
            {
                <dd>
                    @Html.DisplayNameFor(x => item.Email)
                    @Html.DisplayFor(modelItem => item.Email)
                </dd>
            }

        }
        @foreach (var item in Model.ContactInfoes)
        {
            if (!string.IsNullOrWhiteSpace(item.Skype))
            {
                <dd>
                    @Html.DisplayNameFor(x => item.Skype)
                    @Html.DisplayFor(modelItem => item.Skype)
                </dd>
            }

        }
        @foreach (var item in Model.ContactInfoes)
        {
            if (!string.IsNullOrWhiteSpace(item.Other))
            {
                <dd>
                    @Html.DisplayNameFor(x => item.Other)
                    @Html.DisplayFor(modelItem => item.Other)
                </dd>
            }

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
